.google-sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.google-sign-in-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.google-sign-in-button:hover {
    background-color: #333;
}